/* Main Stylesheet */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 16px;
}

li {
    display: inline;
}

li a {
    text-decoration: none;
    list-style: none;
}

div {
    display: block;
}

p {
    padding-top: 20px;
}


/* Header */

header {
    width: 100%;
    /*height: auto;*/
    z-index: 20;
    background-color: rgb(241, 241, 241);
    padding: 1em 0;
    left: 0;
    right: 0;
}

.header-container {
    width: 70%;
    /*height: auto;*/
    margin: 0 auto;
    position: relative;
}

nav {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

nav ul {
    list-style-type: none;
    /*to remove bullets*/
    text-align: center;
    margin: 0 auto;
    padding: 0;
    display: table;
    overflow: hidden;
}

nav li {
    float: left;
    padding: 2px;
    width: 150px;
    margin-left: auto;
    margin-right: auto;
}

nav li a {
    color: #34495e;
}

nav li:hover {
    opacity: 0.7;
    transition: 0.5s;
}

nav a:visited {
    color: #34495e;
}


/* Logo */

.logo {
    display: block;
    margin: auto;
    margin-bottom: 2em;
}


/* Main Content */

.main-content {
    width: 100%;
    margin: auto;
}


/* Sections */

section {
    padding: 2em 12.5%;
    background-color: #34495e;
    color: white;
}

section:nth-child(even) {
    background-color: #ecf0f1;
    color: black;
}

.subtitle {
    padding-bottom: 2rem;
    font-size: 2.5em;
    text-align: center;
}

.title-project {
    text-align: center;
}

.portfolio {
    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    -webkit-flex-flow: row wrap;
    justify-content: space-around;
}

.contact {
    height: 500px;
}

.project {
    width: 300px;
    padding: 20px;
    display: inline-block;
    background-color: #d8d8d8;
}

.proj-img {
    width: 50%;
    height: 50%;
    display: block;
    margin: 1em auto;
}

.internal-wrapper {
    max-width: 1200px;
    margin: auto;
}

.description {
    max-width: 1200px;
    line-height: 1.75;
    font-weight: 300;
    font-size: 1rem;
    padding: 10px 0;
    margin: 0 auto;
}

h3 {
    text-align: center;
}

.fa {
    text-align: center;
}

.icon {
    display: inline-block;
    width: 100%;
    margin: 30px auto;
}

.box {
    margin-top: 0;
    margin-bottom: 0;
}

.largefa {
    font-size: 6.5em;
}


/* Back-to-top button */

.back-to-top {
    position: fixed;
    bottom: 2em;
    right: 1.5em;
    text-decoration: none;
    color: #000;
    padding: 1em;
    display: none;
    opacity: 0.7;
}

.back-to-top:hover {
    cursor: pointer;
    opacity: 0.5;
}


/* form */

form {
    width: 580px;
    background-color: #b2b2b2;
    border-radius: 6px;
    margin: 20px auto;
    display: block;
    padding: 10px;
    position: relative;
}

input {
    width: 260px;
    height: 50px;
    padding: 0 0 0 20px;
    border-radius: 3px;
    background-color: white;
    border: none;
    color: #2980b9;
    margin: 10px;
    float: left;
}

input:focus,
input:active,
textarea:focus,
textarea:active {
    outline-color: #2980b9;
    outline-style: solid;
    outline-width: 2px;
}

textarea {
    width: 540px;
    height: 80px;
    padding: 20px;
    color: #2980b9;
    border-radius: 3px;
    background-color: white;
    margin: 10px;
    border: none;
    resize: vertical;
}

.btn {
    margin: auto;
    display: block;
    background-color: #2980b9;
    border: none;
    border-radius: 3px;
    width: 200px;
    height: 40px;
    color: white;
    font-size: 12px;
    transition: 0.5s ease;
}

.btn:hover {
    opacity: 0.7;
    transition: 0.5s ease;
}


/* Footer */

footer {
    text-align: center;
    padding: 20px 0;
    background-color: #2980b9;
    color: white;
}
